label {
  margin: 0 !important;
}
.content {
  height: 85vh;
  display: grid;
  place-content: center;
}

.form-onboard {
  width: 500px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
}

.form-onboard-inner {
  padding: 40px 50px;
}

.form-onboard-header {
  padding-bottom: 24px;
  padding-top: 0px;
  border-bottom: 2px solid black;
}

.form-onboard-header h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.16em;
  margin: 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-content input {
  background: #f6f6fb;
  border-radius: 5px;
  padding: 9px 5px;
}
